@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}
#wrapper {
  overflow: hidden;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: normal;
}
