#earlyBirdHeader {
  background: #008e9b;
}
#earlyBirdHeader .earlyBirdTwoElements {
  display: flex;
  justify-content: center;
  align-items: center;
}
#earlyBirdHeader .earlyBirdTwoElements p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 9px 0px;
}

@media (max-width: 768px) {
  #earlyBirdHeader .earlyBirdTextDesktop {
    display: none;
  }
}
@media (min-width: 769px) {
  #earlyBirdHeader .earlyBirdTextMobile {
    display: none;
  }
}
#successfulCareersHeader {
  background: #befbff;
}
#successfulCareersHeader .twoElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#successfulCareersHeader .twoElements p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0px;
}

@media (min-width: 769px) {
  #successfulCareersHeader .twoElements .phone {
    display: none;
  }
}
.backgroundForNavbarAndFirstBanner {
  position: relative;
}

.backgroundForNavbarAndFirstBanner ::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../images/firstBannerBackgroundDesktop.png) no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#navbar {
  padding-top: 60px;
  padding-bottom: 10px;
}
#navbar .list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 10px 0px;
}
#navbar .list li {
  list-style: none;
}
#navbar .list li p {
  color: var(--ink-08, #292929);
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  #navbar {
    padding-top: 60px;
  }
  #navbar .hamburgerMenu {
    display: none;
  }
}
@media (max-width: 768px) {
  #navbar {
    padding-top: 10px;
    margin: 0;
  }
  #navbar .hamburgerMenu {
    display: block;
    text-align: right;
    margin-bottom: 10px;
  }
  #navbar .hamburgerMenu img {
    margin: 0 auto;
  }
  #navbar #myMenu {
    display: none;
  }
  #navbar #navbar {
    height: auto;
  }
  #navbar #navbar .list {
    display: none;
  }
  #navbar #myMenu.opened {
    display: block;
    text-align: right;
  }
}
#firstBanner .hireMeMobile {
  background: rgb(0, 142, 155);
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}
#firstBanner .hireMeMobile p {
  margin: 0;
  color: var(--ink-01, #fff);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
#firstBanner .hireMeDesktop {
  padding: 10px 12px;
  width: 277px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 10px;
  background: #59c4d1;
}
#firstBanner .hireMeDesktop p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
#firstBanner .hireMeListTitle {
  margin: 25px 0px;
}
#firstBanner .hireMeListTitle p {
  color: #008e9b;
  font-size: 30px;
  font-weight: 700;
}
#firstBanner .hireMeList ul li {
  position: relative;
  list-style: none;
  margin: 14px 0px;
}
#firstBanner .hireMeList ul li:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background: url(../images/checkMark.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: -40px;
  z-index: 1;
}
#firstBanner .applyToday {
  margin: 50px 25px 0px 0px;
}
#firstBanner .applyToday span {
  color: #1e69e1;
  font-size: 18px;
  font-weight: 700;
}
#firstBanner .registerButton {
  border-radius: 10px;
  background: linear-gradient(90deg, #008e9b 0%, #59c4d1 91.67%);
  padding: 10px 20px;
  width: 100px;
  height: 40px;
  margin-bottom: 90px;
}
#firstBanner .registerButton p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 769px) {
  #firstBanner .hireMeMobile {
    display: none;
  }
  #firstBanner .hireMePhotoMobile {
    display: none;
  }
}
@media (max-width: 768px) {
  #firstBanner .hireMePhotoDesktop {
    display: none;
  }
  #firstBanner .registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #firstBanner .registerButton p {
    margin: 0;
  }
}
#theSuccessFormula {
  position: relative;
  padding-bottom: 50px;
}
#theSuccessFormula ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  background: url(../images/successFormulaBackground.png) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  border-bottom: 12px solid #59c4d1;
}
#theSuccessFormula .successFormulaTitle {
  margin-top: 80px;
  margin-bottom: 67px;
  border-radius: 10px;
  background: linear-gradient(73deg, #008e9b 52.12%, #59c4d1 100%);
}
#theSuccessFormula .successFormulaTitle p {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

#successFormulaBoxes {
  position: relative;
}
#successFormulaBoxes .box {
  margin: 2px 0px;
  display: flex;
  width: 318px;
  height: 338px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  background: #fff;
  box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.25);
}
#successFormulaBoxes .box .boxTitle {
  color: var(--ink-07, #474747);
  font-size: 22px;
  font-weight: 700;
  position: relative;
  transition: all 0.3s ease;
}
#successFormulaBoxes .box .boxTitle ::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid rgb(89, 196, 209);
  width: 80px;
  height: 0px;
  top: 45px;
  left: 0px;
  z-index: 0;
}
#successFormulaBoxes .box .boxDescription {
  color: var(--ink-05, #858585);
  font-size: 18px;
  font-weight: 500;
}
#successFormulaBoxes ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/image\ 3002.png) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -3;
}
#successFormulaBoxes .first:hover .boxTitle {
  color: orange;
}
#successFormulaBoxes .second:hover .boxTitle {
  color: orange;
}
#successFormulaBoxes .third:hover .boxTitle {
  color: orange;
}

@media (max-width: 768px) {
  #successFormulaBoxes .box {
    margin: 2px 100px;
  }
  #successFormulaBoxes .box p {
    font-size: 16px;
  }
}
#secondBackground {
  position: relative;
}
#secondBackground ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/image\ 3001.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -3;
}

#thatsNotAll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}
#thatsNotAll p {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #thatsNotAll.desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  #thatsNotAll.mobile {
    display: none;
  }
}
#signUpToday {
  margin-bottom: 100px;
}
#signUpToday .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  background: lightblue;
  padding: 36px;
  gap: 20px;
}
#signUpToday .box .boxTitle {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
#signUpToday .box .boxTitle span {
  font-size: 16px;
}
#signUpToday .box .boxDescription {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#signUpToday .signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  padding: 11px 41px;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #59c4d1 99.99%, #008e9b 100%);
}
#signUpToday .signUpButton p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #signUpToday .box .boxTitle.desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  #signUpToday .box .boxTitle.mobile {
    display: none;
  }
}
#modules {
  margin-bottom: 100px;
}
#modules .modulesTitle {
  display: flex;
  width: 521px;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  background: linear-gradient(90deg, #1399a6 0%, #fff 100%);
  margin-bottom: 60px;
}
#modules .modulesTitle p {
  margin: 0;
  color: var(--ink-08, #292929);
  font-size: 32px;
  font-weight: 700;
}
#modules .box.active {
  border: 1px solid #60b8c0;
  background: rgba(120, 206, 216, 0.1);
}
#modules .box.active p {
  color: #008e9b;
  font-weight: bold;
}
#modules .box {
  border-radius: 8px;
  border-right: 1px solid #018e9b;
  border-bottom: 1px solid #018e9b;
  background: rgba(255, 255, 255, 0.64);
  margin-bottom: 15px;
}
#modules .box p {
  padding: 5px 15px;
  margin: 0;
  color: var(--ink-04, #a3a3a3);
  font-size: 22px;
  font-weight: 500;
}
#modules .box p span {
  color: #666;
  font-size: 22px;
  font-weight: 500;
}
#modules .boxes {
  border-radius: 8px;
  border: 1px solid #60b8c0;
  background: rgba(120, 206, 216, 0.1);
  margin-bottom: 10px;
}
#modules .boxes .boxTitle {
  border-radius: 8px;
  border: 2px solid #008e9b;
  background: #fff;
  padding: 3px 12px;
}
#modules .boxes .boxTitle p {
  margin: 0;
  color: #008e9b;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-weight: 500;
}
#modules .descriptionBox {
  display: flex;
  width: 577px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #60b8c0;
  background: rgba(120, 206, 216, 0.1);
}
#modules .descriptionBox .descriptionBoxTitle {
  width: 100%;
  background: linear-gradient(133deg, #008e9b 46.88%, #59c4d1 100%);
}
#modules .descriptionBox .descriptionBoxTitle p {
  padding: 8px;
  margin: 0;
  color: var(--ink-01, #fff);
  font-size: 24px;
  font-weight: 700;
}
#modules .descriptionBox .descriptionBoxDescription span {
  color: var(--ink-05, #858585);
  font-size: 16px;
  font-weight: 500;
}
#modules .descriptionBox .descriptionBoxDescription p {
  color: #141415;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  #modules .boxTitle.desktop {
    display: none;
  }
  #modules .boxTitle.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #modules .box {
    display: none;
  }
  #modules .descriptionBox {
    display: none;
  }
}
@media (min-width: 769px) {
  #modules .boxTitle.mobile {
    display: none;
  }
}
#threeRealProjects {
  margin-bottom: 150px;
}
#threeRealProjects .threeRealProjectsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#threeRealProjects .threeRealProjectsTitle p {
  color: #000;
  font-size: 36px;
  font-weight: 600;
}
#threeRealProjects .threeRealProjectsTitle p span {
  color: #008e9b;
  font-size: 36px;
  font-weight: 600;
}
#threeRealProjects .threeRealProjectsDescription {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
#threeRealProjects .threeProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#threeRealProjects .projects {
  margin-bottom: 5px;
  width: 784px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 3px solid #59c4d1;
  background: #59c4d1;
}
#threeRealProjects .projects .projectName {
  position: relative;
  color: #fff;
  font-size: 16px;
  margin-top: 25px;
  margin-left: 50px;
}
#threeRealProjects .projects .projectName ::after {
  position: absolute;
  content: "";
  left: 0;
  top: 25px;
  border-bottom: 1px solid #fff;
  z-index: 1;
  width: 121px;
  height: 2px;
}
#threeRealProjects .projects .projectNumber {
  position: absolute;
  top: -10px;
  left: -240px;
}
#threeRealProjects .projects .projectNumber p {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-top: 25px;
  margin-left: 50px;
  border: 2px solid rgb(0, 142, 155);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#threeRealProjects .projects .projectDescription {
  margin-left: 50px;
}
#threeRealProjects .projects .projectDescription p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #threeRealProjects .threeRealProjectsTitle p {
    color: var(--ink-06, #000);
    font-size: 20px;
    font-weight: 600;
  }
  #threeRealProjects .threeRealProjectsTitle p span {
    color: #008e9b;
    font-size: 20px;
    font-weight: 600;
  }
  #threeRealProjects .threeRealProjectsDescription {
    color: #000;
    font-size: 20px;
    font-weight: 400;
  }
  #threeRealProjects .threeRealProjectsDescription.desktop {
    display: none;
  }
  #threeRealProjects .threeRealProjectsDescription.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 769px) {
  #threeRealProjects .threeRealProjectsDescription.mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  #threeRealProjects .projects .projectNumber {
    left: -210px;
  }
}
@media (max-width: 768px) {
  #threeRealProjects .projects .projectNumber {
    left: -125px;
  }
}
@media (max-width: 560px) {
  #threeRealProjects .projects .projectNumber {
    left: -100px;
  }
}
#hireMeProgram {
  margin-bottom: 150px;
}
#hireMeProgram .hireMeBox {
  border-radius: 8px;
  border: 5px solid #43b6c3;
  background: rgba(16, 71, 160, 0);
  padding: 23px 16px;
}
#hireMeProgram .hireMeBox .hireMeTitle {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  padding: 5px 20px;
}
#hireMeProgram .hireMeBox .hireMeDescription {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
#hireMeProgram .hireMeBox .hireMeButton {
  display: flex;
  width: 190px;
  padding: 11px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #008e9b 0%, #59c4d1 100%);
}
#hireMeProgram .hireMeBox .hireMeButton p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

#expertsLead {
  padding-bottom: 100px;
}
#expertsLead .text {
  margin-bottom: 60px;
}
#expertsLead .text p {
  color: #000;
  font-size: 32px;
  font-weight: 500;
}
#expertsLead .text p span {
  color: #008e9b;
  font-size: 38px;
  font-weight: 700;
}
#expertsLead .expertBox {
  border-radius: 8px;
  border: 2px solid #1e69e1;
  background: #018e9b;
  padding: 16px;
  height: 170px;
}
#expertsLead .expertBox .expertImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 15px;
}
#expertsLead .expertBox .expertImage img {
  border-radius: 15px;
  width: 102px;
  height: 129px;
}
#expertsLead .expertBox .expertInfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.016px solid #befbff;
}
#expertsLead .expertBox .expertInfos .expertName {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
#expertsLead .expertBox .expertInfos .expertName p {
  margin: 0;
}
#expertsLead .expertBox .expertDescription {
  margin-top: 12px;
}
#expertsLead .expertBox .expertDescription p {
  color: var(--ink-01, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

@media (max-width: 768px) {
  #expertsLead .expertBox {
    height: auto;
  }
  #expertsLead .text p {
    font-size: 22px;
  }
  #expertsLead .text p span {
    font-size: 22px;
  }
  #expertsLead .text.desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  #expertsLead .text.mobile {
    display: none;
  }
  #expertsLead .text.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#afterTheAcademy {
  position: relative;
  padding-top: 100px;
  padding-bottom: 115px;
}
#afterTheAcademy ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/Rectangle\ 2181.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -3;
}
#afterTheAcademy .afterTheAcademyTitle {
  margin-bottom: 25px;
}
#afterTheAcademy .afterTheAcademyTitle p {
  color: var(--ink-01, #fff);
  font-size: 32px;
  font-weight: 400;
}
#afterTheAcademy .afterTheAcademyTitle p span {
  color: #008e9b;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: #befbff;
}
#afterTheAcademy .afterTheAcademyDescription {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 100px;
}
#afterTheAcademy .afterTheLastClass {
  color: var(--ink-01, #fff);
  font-size: 24px;
  font-weight: 700;
  border-bottom: 4px solid #59c4d1;
  margin-bottom: 35px;
}
#afterTheAcademy .afterTheLastClassList {
  color: var(--ink-01, #fff);
  font-size: 18px;
  font-weight: 500;
}
#afterTheAcademy .afterTheLastClassList ul {
  margin-bottom: 60px;
}
#afterTheAcademy .afterTheLastClassList ul li {
  list-style: none;
  font-size: 16px;
  line-height: 35px;
  position: relative;
}
#afterTheAcademy .afterTheLastClassList ul ::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -40px;
  background: url(../images/CheckCircle.png) no-repeat;
  z-index: -1;
}
#afterTheAcademy .girlWithCHLogoDesktop {
  position: absolute;
  width: 1443px;
  height: 884px;
  top: -75px;
  z-index: -1;
}
#afterTheAcademy .academyStepsList {
  display: flex;
  flex-direction: row;
  border-radius: 11.538px;
  border: 3.846px solid #59c4d1;
  background: linear-gradient(135deg, rgba(0, 142, 155, 0.63) 0%, rgba(190, 251, 255, 0.63) 39.9%);
}
#afterTheAcademy .academyStepsList .custom-column {
  margin-right: 15px;
  flex: 1;
  text-align: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#afterTheAcademy .academyStepsList .custom-column .number {
  margin-top: 25px;
  margin-bottom: 12px;
}
#afterTheAcademy .academyStepsList .custom-column .number p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  border-radius: 45.192px;
  border: 3.846px solid var(--ink-01, #fff);
  width: 40px;
  height: 40px;
}
#afterTheAcademy .academyStepsList .custom-column .title {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 800;
  border-bottom: 3.846px solid #59c4d1;
  width: 120px;
  height: 100px;
}
#afterTheAcademy .academyStepsList .custom-column .description {
  color: var(--ink-01, #fff);
  font-size: 14px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 50px;
  height: 100px;
}
#afterTheAcademy .box {
  border-radius: 11.538px;
  border: 3.846px solid #59c4d1;
  background: linear-gradient(135deg, rgba(0, 142, 155, 0.63) 0%, rgba(190, 251, 255, 0.63) 39.9%);
  -webkit-backdrop-filter: blur(17.7884616852px);
          backdrop-filter: blur(17.7884616852px);
}
#afterTheAcademy .academyStepsListMobile {
  border-radius: 11.538px;
  border: 3.846px solid #59c4d1;
  background: linear-gradient(135deg, rgba(0, 142, 155, 0.63) 0%, rgba(190, 251, 255, 0.63) 39.9%);
  padding-bottom: 100px;
}
#afterTheAcademy .academyStepsListMobile .number {
  margin-top: 25px;
  margin-bottom: 12px;
}
#afterTheAcademy .academyStepsListMobile .number p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  border-radius: 45.192px;
  border: 3.846px solid var(--ink-01, #fff);
  width: 40px;
  height: 40px;
}
#afterTheAcademy .academyStepsListMobile .title {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 800;
  border-bottom: 4px solid #59c4d1;
  width: 100%;
}
#afterTheAcademy .academyStepsListMobile .description {
  color: var(--ink-01, #fff);
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

@media (max-width: 992px) {
  #afterTheAcademy .afterTheAcademyDescription {
    margin-bottom: 300px;
  }
  #afterTheAcademy .girlWithCHLogo {
    position: absolute;
    top: 235px;
    z-index: -1;
  }
  #afterTheAcademy .afterTheAcademyTitle.desktop {
    display: none;
  }
  #afterTheAcademy .girlWithCHLogoDesktop {
    display: none;
  }
  #afterTheAcademy .academyStepsList.desktop {
    display: none;
  }
}
@media (min-width: 993px) {
  #afterTheAcademy .afterTheAcademyTitle.mobile {
    display: none;
  }
  #afterTheAcademy .girlWithCHLogo {
    display: none;
  }
  #afterTheAcademy .academyStepsListMobile {
    display: none;
  }
}
.thirdBackground {
  position: relative;
}
.thirdBackground ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/image\ 3001.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
}

#theBestTrack {
  padding-top: 100px;
}
#theBestTrack .theBestTrackTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#theBestTrack .theBestTrackTitle p {
  color: #000;
  font-size: 32px;
  font-weight: 500;
}
#theBestTrack .theBestTrackTitle p span {
  color: #008e9b;
  font-size: 38px;
  font-weight: 700;
}
#theBestTrack .box.first {
  margin-top: 60px;
}
#theBestTrack .box.first .boxTitle p {
  line-height: 15px;
}
#theBestTrack .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  background: #fff;
  height: 1113px;
  margin-bottom: 5px;
}
#theBestTrack .box .boxTitle {
  background: #008e9b;
  padding: 21px 12px;
  height: 147px;
}
#theBestTrack .box .boxTitle p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
#theBestTrack .box .boxTitle p span {
  color: #befbff;
  font-size: 24px;
  font-weight: 700;
}
#theBestTrack .box .boxPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  flex-direction: column;
}
#theBestTrack .box .boxPrice img {
  width: 100%;
  height: 2px;
}
#theBestTrack .box .boxPrice p {
  font-size: 16px;
  font-weight: 700;
}
#theBestTrack .box .boxPrice p .blue {
  text-decoration-line: line-through;
  color: #394dff;
  font-size: 24px;
}
#theBestTrack .box .boxPrice p .red {
  color: #f00;
  font-size: 24px;
}
#theBestTrack .box .boxDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 300px;
}
#theBestTrack .box .boxDescription img {
  width: 100%;
  height: 2px;
}
#theBestTrack .box .boxDescription p {
  margin: 19px;
}
#theBestTrack .box .boxDescriptionTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#theBestTrack .box .boxDescriptionTwo img {
  width: 100%;
  height: 2px;
}
#theBestTrack .box .reserveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #008e9b;
  padding: 23px 10px;
  margin-top: 15px;
}
#theBestTrack .box .reserveButton p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
#theBestTrack .box .coordinatorP {
  margin-top: 15px;
}
#theBestTrack .box .coordinatorP p {
  color: #666;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}
#theBestTrack .box .coordinatorPhoto {
  position: absolute;
  top: 921px;
  left: 248px;
}
#theBestTrack .box .lastP {
  background: #008e9b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 30px;
}
#theBestTrack .box .lastP p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
#theBestTrack .box .lastP .bookCallButton {
  border-radius: 10px;
  background: #59c4d1;
  padding: 10px 25px;
}
#theBestTrack .box .lastP .bookCallButton p {
  margin: 0;
  color: rgb(0, 0, 0);
}
#theBestTrack .box .lastP.second {
  margin-top: 42px !important;
}
#theBestTrack .box.second .boxDescription {
  margin-bottom: 240px;
}
#theBestTrack .mostPopular {
  border-radius: 8px 8px 0px 0px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#theBestTrack .mostPopular p {
  color: var(--ink-01, #fff);
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 12px 60px;
}
#theBestTrack .alsoIncluded {
  margin-top: 165px;
  margin-bottom: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#theBestTrack .alsoIncluded .alsoIncludedTitle {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 65px;
}
#theBestTrack .alsoIncluded .alsoIncludedList ul li {
  position: relative;
  list-style: none;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;
}
#theBestTrack .alsoIncluded .alsoIncludedList ul ::after {
  position: absolute;
  content: "";
  top: -10px;
  left: -65px;
  background: url(../images/Ok.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

@media (max-width: 768px) {
  #theBestTrack .alsoIncluded .alsoIncludedList ul li {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  #theBestTrack .box .coordinatorPhoto {
    left: 195px;
  }
}
@media (max-width: 991px) {
  #theBestTrack .box .coordinatorPhoto {
    left: 142px;
  }
}
@media (max-width: 768px) {
  #theBestTrack .box .coordinatorPhoto {
    left: 233px;
  }
}
#gainRealWorldExp {
  margin-bottom: 100px;
}
#gainRealWorldExp .gainRealWorldExpTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008e9b;
}
#gainRealWorldExp .gainRealWorldExpTitle p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 153.023%; /* 39.786px */
}
#gainRealWorldExp .gainRealWorldExpTitleMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008e9b;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 26px */
}
#gainRealWorldExp .box {
  background: rgba(218, 218, 218, 0.41);
  min-height: 702px;
  width: 362px;
  padding: 25px;
  transition: all 0.3s ease;
}
#gainRealWorldExp .box .boxTitle {
  background: #008e9b;
  display: flex;
  min-height: 179px;
  justify-content: center;
  align-items: center;
  gap: 26px;
  text-align: center;
}
#gainRealWorldExp .box .boxTitle p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 153.023%;
}
#gainRealWorldExp .box .boxTitle p span {
  color: #59c4d1;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  line-height: 153.023%; /* 39.786px */
}
#gainRealWorldExp .box .boxDescription ul {
  margin-top: 25px;
}
#gainRealWorldExp .box .boxDescription ul li {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
#gainRealWorldExp .box:hover {
  background: #fff;
}

@media (max-width: 768px) {
  #gainRealWorldExp .gainRealWorldExpTitle {
    display: none;
  }
  #gainRealWorldExp .box {
    width: 100%;
    padding: 0;
  }
  #gainRealWorldExp .box .boxDescription ul li {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  #gainRealWorldExp .gainRealWorldExpTitleMobile {
    display: none;
  }
}
#calculator {
  margin-bottom: 115px;
}
#calculator .box {
  width: 100%;
  min-height: 570px;
  display: inline-flex;
  padding: 48px 122px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: #008e9b;
}
#calculator .box .boxTitle p {
  color: var(--ink-01, #fff);
  font-size: 32px;
  font-weight: 400;
}
#calculator .box .boxTitle p span {
  color: var(--ink-08, #292929);
  font-weight: 800;
  background: #59c4d1;
  padding: 8px;
}
#calculator .box .boxDescription {
  color: var(--ink-01, #fff);
  font-size: 24px;
  font-weight: 400;
}
#calculator .box .roiCalculator {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 715px;
}
#calculator .box .roiCalculator .title {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 700;
}
#calculator .box .roiCalculator .prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px 12px 8px;
  border-radius: 8px;
  border: 1px solid #56bfe0;
  background: #180120;
}
#calculator .box .roiCalculator .prices .firstPrice {
  border-radius: 8px;
  padding: 10px 16px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.21);
}
#calculator .box .roiCalculator .prices .firstPrice p {
  color: var(--inks-01, white);
}
#calculator .box .roiCalculator .prices .secondPrice {
  border-radius: 8px;
  padding: 10px 16px;
}
#calculator .box .roiCalculator .prices .secondPrice p {
  color: var(--inks-01, white);
}
#calculator .box .roiCalculator .prices .secondPrice p span {
  font-size: 32px;
}
#calculator .box .roiCalculator .prices p {
  margin: 0;
  color: var(--inks-01, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
#calculator .box .roiCalculator .prices p span {
  font-size: 26px;
  font-weight: 800;
}
#calculator .box .roiCalculator .prices .firstPrice.active {
  background: var(--ink-01, #fff);
}
#calculator .box .roiCalculator .prices .firstPrice.active p {
  color: var(--inks-01, black);
}
#calculator .box .roiCalculator .prices .secondPrice.active {
  background: var(--ink-01, #fff);
}
#calculator .box .roiCalculator .prices .secondPrice.active p {
  color: var(--inks-01, black);
}
#calculator .box .salary {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#calculator .box .salary .salaryTitle p {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 700;
}
#calculator .box .salary .salaryPrices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
  border: 1px solid #56bfe0;
  background: #180020;
  padding: 12px 8px;
}
#calculator .box .salary .salaryPrices p {
  color: var(--ink-01, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  margin: 0;
}
#calculator .box .salary .salaryPrices .first,
#calculator .box .salary .salaryPrices .second,
#calculator .box .salary .salaryPrices .third {
  padding: 12px 16px;
}
#calculator .box .salary .salaryPrices .first.active,
#calculator .box .salary .salaryPrices .second.active,
#calculator .box .salary .salaryPrices .third.active {
  border-radius: 8px;
  background: var(--ink-01, #fff);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.21);
}
#calculator .box .salary .salaryPrices .first.active p,
#calculator .box .salary .salaryPrices .second.active p,
#calculator .box .salary .salaryPrices .third.active p {
  color: black;
}
#calculator .box .result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#calculator .box .result .title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#calculator .box .result .finalResult {
  border-radius: 12px;
  border: 2px solid #56bfe0;
  background: var(--inks-02, #f8f8f8);
  width: 337px;
  padding: 14px 32px;
}
#calculator .box .result .finalResult p {
  margin: 0;
  color: var(--ink-07, #474747);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 900;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}

@media (max-width: 991px) {
  #calculator {
    display: none;
  }
}
#theDiploma {
  margin-bottom: 100px;
}
#theDiploma .container {
  border-radius: 12px;
  border: 1px solid #008e9b;
  background: var(--ink-01, #fff);
}
#theDiploma .box {
  padding: 15px;
}
#theDiploma .box .diplomaTitle {
  border-radius: 12px;
  background: #59c4d1;
  padding: 32px;
  margin-bottom: 15px;
}
#theDiploma .box .diplomaTitle span {
  color: #026b75;
  font-size: 32px;
  font-weight: 800;
  font-family: Inter;
}
#theDiploma .box .diplomaTitle p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
#theDiploma .row {
  margin-left: -4px;
}
#theDiploma .insideBox {
  background: lightgray;
  border-radius: 12px;
  border: 2px solid var(--ink-02, #e0e0e0);
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #fff;
  padding: 16px;
  min-height: 460px;
  margin-bottom: 16px;
}
#theDiploma .insideBox .insideBoxTitle {
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 3px solid #008e9b;
}
#theDiploma .insideBox .insideBoxTitle p {
  color: var(--ink-06, #666);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
#theDiploma .insideBox .insideBoxTitle p span {
  color: var(--ink-07, #474747);
  font-weight: 700;
}
#theDiploma .insideBox ul li {
  color: var(--ink-05, #858585);
  font-size: 16px;
  font-weight: 500;
}

#reserveYourSpot {
  background: #008e9b;
  padding: 62px 122px 0px 122px;
  margin-bottom: 75px;
}
#reserveYourSpot .title {
  margin-bottom: 40px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}
#reserveYourSpot .title span {
  color: #befbff;
  font-size: 48px;
  font-weight: 900;
}
#reserveYourSpot .description {
  color: var(--ink-01, #fff);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 100px;
}
#reserveYourSpot .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #59c4d1;
  width: 120px;
  height: 40px;
  margin-bottom: 30px;
}
#reserveYourSpot .button p {
  margin: 0;
  color: var(--ink-08, #292929);
  font-size: 16px;
  font-weight: 900;
}

#freeCourse {
  background: linear-gradient(135deg, #008e9b 6.77%, #59c4d1 98.96%);
}
#freeCourse .box {
  padding: 64px 125px 64px 0px;
  min-height: 432px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#freeCourse .box .description {
  background: #fff;
  padding: 8px;
  width: 491px;
}
#freeCourse .box .description p {
  color: var(--ink-07, #474747);
  font-size: 16px;
  font-weight: 500;
}
#freeCourse .box .title {
  margin: 25px 0px;
}
#freeCourse .box .title p {
  color: var(--ink-01, #fff);
  font-size: 48px;
  font-weight: 600;
}
#freeCourse .box .title p span {
  font-weight: 900;
}
#freeCourse .box .date {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 500;
}
#freeCourse .box .button {
  display: flex;
  width: 492px;
  padding: 11px 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #061517;
}
#freeCourse .box .button input {
  width: 100%;
}
#freeCourse .box .button .buttonText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 145px;
  border-radius: 4px;
  height: 32px;
  gap: 8px;
  background: linear-gradient(133deg, #008e9b 0%, #59c4d1 67.71%);
}
#freeCourse .box .button p {
  margin: 0;
  color: var(--ink-08, #292929);
  font-size: 16px;
  font-weight: 900;
}
#freeCourse .image img {
  width: 688px;
  height: 474px;
}

@media (max-width: 768px) {
  #freeCourse .image {
    display: none;
  }
}
#form {
  padding-top: 75px;
  padding-bottom: 90px;
  position: relative;
}
#form ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/image\ 3001.png) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
#form .box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
#form .box .title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#form .box .title p {
  color: #000;
  font-size: 32px;
  font-weight: 500;
}
#form .box .title p span {
  color: #008e9b;
  font-size: 38px;
  font-weight: 700;
}
#form .box .title .description p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
#form .box .list form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#form .box .list form label {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: start;
  margin-top: 12px;
  margin-bottom: 8px;
}
#form .box .list form input {
  width: 592px;
  height: 43px;
  border-radius: 8px;
  border: 1px solid #59c4d1;
  background: var(--ink-01, #fff);
}
#form .box .list form select {
  width: 592px;
  height: 43px;
  border-radius: 8px;
  border: 1px solid #59c4d1;
  background: var(--ink-01, #fff);
  margin-bottom: 25px;
}
#form .box .list form button {
  display: flex;
  width: 390px;
  padding: 11px 18px;
  border-radius: 4px;
  background: #008e9b;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#form .box .list form button p {
  font-family: Inter;
  margin: 0;
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 900;
}
#form .box .list .description {
  width: 592px;
}
#form .box .list .description p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
#form .box .list .lastDescription {
  margin-top: 12px;
  margin-bottom: 225px;
}
#form .box .list .lastDescription p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
#form .box .list .lastBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#form .enroll .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
#form .enroll .title p {
  color: var(--ink-06, #666);
  font-size: 32px;
  font-weight: 500;
}
#form .enroll .title p span {
  color: #018e9b;
  font-weight: 700;
}
#form .enrollBox {
  min-height: 124px;
  margin-bottom: 25px;
  border-bottom: 2px solid #008e9b;
}
#form .enrollBox img {
  margin-bottom: 6px;
}
#form .enrollBox p {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

#slider {
  background: #008e9b;
  padding: 48px 122px 60px 122px;
}
#slider .title {
  padding: 48px 122px;
  margin-bottom: 10px;
}
#slider .title p {
  color: var(--ink-01, #fff);
  font-size: 32px;
  font-weight: 500;
}
#slider .title p span {
  color: #befbff;
  font-weight: 800;
}

#footer {
  background: #343333;
}
#footer .col-12 {
  padding-left: 0;
  padding-right: 0;
}
#footer .elements {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 125px;
}
#footer .elements .first p {
  margin-top: 15px;
  color: var(--ink-01, #fff);
  font-size: 12px;
  font-weight: 500;
}
#footer .elements .second ul {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 500;
}
#footer .elements .second ul li {
  list-style: none;
}
#footer .elements .second ul li p {
  color: var(--ink-01, #fff);
  font-size: 14px;
  font-weight: 500;
}
#footer .elements .third p {
  color: var(--ink-01, #fff);
  font-size: 16px;
  font-weight: 500;
}
#footer .elements .third .photos img {
  margin-right: 15px;
}
#footer .footerText {
  width: 100%;
  background: var(--ink-08, #292929);
  padding: 16px;
  text-align: center;
}
#footer .footerText p {
  color: var(--ink-01, #fff);
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 768px) {
  #footer .elements {
    padding-left: 15px !important;
    padding-right: 15px;
    flex-direction: column;
    gap: 50px;
    padding-left: 0;
  }
  #footer .footerText.desktop {
    display: none;
  }
  #footer .footerText.mobile a {
    color: var(--solid-secondary-uxui, #fda14a);
    font-size: 10px;
    font-weight: 500;
    line-height: 120%; /* 12px */
  }
}
@media (min-width: 769px) {
  #footer .footerText.mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */